body {
text-align: center;
margin: 0;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

nav a {
	color: #ffffff;
}


a {
	font-family: RALEWAY;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white; 
}

h1 {
	font-family: RALEWAY;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	font-family: RALEWAY;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: "DROID SERIF";
	line-height: 26PX;
	font-size: 18PX;
}
header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

main {
	width: 850px;
	margin: 35px auto;
}

ol {
  list-style-type: none;
}
img {
	margin-top: : 40px;
	margin-right: 8px;
	margin-left: 8px;
}

button {
	background-color: yellow;
	size: 20px;
}

footer {
	text-transform: uppercase;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	font-family: Raleway;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

